
.featureContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
    gap: 20px;  
    justify-items: start;
    border: 1px solid #000;
    margin: 50px 50px;    
}

@media screen and (min-width: 1024px) {
    .featureContainer {
        display: grid;    
        grid-template-columns: repeat(4, 1fr); 
        max-width: 1400px;  
        margin-right: 100px;
        margin-left: 100px;  

        .featureBlock {
            display: flex;
        }
           
    }
}