.header-container { 
    display: flex;  
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    margin: 0 100px;

    .header-logo {
      font-size: 35px;      
      text-decoration: none;
      color: var(--black);
    }

    .header-logo-block{
      color: var(--gold);
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-link {
      padding: 8px 16px;
      font-size: 16px;
      display: inline-block;
      color: var(--black);
      text-decoration: none;
    }

    .navLink:hover {
      background-color: #484848;
    }
  }
  