.header-container { 
    display: flex;  
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    margin: 0 100px;

    .header-logo {
      font-size: 35px;      
      text-decoration: none;
      color: var(--black);
    }

    .header-logo-block{
      color: var(--gold);
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-link {
      padding: 8px 16px;
      font-size: 16px;
      display: inline-block;
      color: var(--black);
      text-decoration: none;
    }

    .nav-link:hover {
      color: var(--gold);
      border-bottom: 1px solid var(--gold);
      margin-bottom: -1px;
    }
  }

  .mobile-navigation{
    display: none;
  }
  
  @media (max-width:767px) {
    
    .navigation{
      display: none;
    }

    .mobile-navigation{
      display: flex;
      align-items: center;     
    }

    .mobile-hamburger{
      position: absolute;
      right: 5%;
      cursor: pointer;
    }

    .kazkas{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      background-color: var(--gold);
    }
  }