* {
    box-sizing: border-box;
    margin: 0;
  }

  :root {
    font-family: 'DM Sans', sans-serif;
  }

.container {   
    min-width: 360px;   
    margin: 0 auto;      
  }

body {
    min-width: 360px;
    margin: 0 auto;  
  }



