* {
    box-sizing: border-box;
    margin: 0;
  }

  :root {
    font-family: 'DM Sans', sans-serif;
    --gray:#898989;
    --gray70:#707070;
    --black:#000;
    --gold: #A18A68;
    --white: #fff;
    --red: #D82700;
  }

  body {
    border: 1px solid #000;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }





